main .aboutme-container {
    background-color: #d5cfe1;
    
}

.profile2 {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  border-radius: 50%;
  height: 300px;
  width: 80%;
}

ul {
    list-style-type: none;
    
}

.cs-icons-container1 {
    display: flex;
    flex-direction: row;
    
}

.cs-icons-container2 {
    display: flex;
    flex-direction: column;
    
}

.rubyrails-icon {
    margin-left: 30px;
    font-size: 100px;
    
}

.css-icon {
    margin-left: 30px;
    font-size: 100px;
    
}
.html-icon {
    margin-left: 30px;
    font-size: 100px;
    
}
.javascript-icon {
    margin-left: 30px;
    font-size: 100px;
    
}

@media only screen and (max-width: 750px) {
    main h1 {
      font-size: 40px;
    }
  }