

.aboutme-background {
    background-image: url(/frame-harirak-PMBOOpEVgtM-unsplash.jpg);    
    height: 90vh;
    position: relative;
    opacity: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: bottom;
    border: 10px solid #d4bebe;
}

.aboutme-title{
  background-color: black;
  font-weight: bold;
  color: white;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  text-align: center;
}

h4 {
  background-color: #ffe5d4;
  padding: 10px;
  margin-right: 20px;
  justify-content: space-around;
  
}
.profile2 {
  display: flex;
  margin-left: 30px;
  height: 300px;
  width: 80%;
  justify-content: center;
  border-radius: 50%;
}

ul {
  list-style-type: none;
}

.cs-icons-container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}

.cs-icons-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rubyrails-icon {
  margin-left: 30px;
  font-size: 100px;
}

.css-icon {
  margin-left: 30px;
  font-size: 100px;
}
.html-icon {
  margin-left: 30px;
  font-size: 100px;
}
.javascript-icon {
  margin-left: 30px;
  font-size: 100px;
}

.languages {
  background-color: #b6a6ca;
  border: 10px solid #d4bebe;
}

ul {
  background-color: #ffe5d4;
  border-radius: 40px;
  padding: 20px;
  
}
@media only screen and (max-width: 750px) {
  main h1 {
    font-size: 40px;
  }
  .aboutme-container {
    width: 480px;
  }
}
