/* blog background */
.blog-background {
  background-color: #d5cfe1;
}

/* blog title formatting */
.blog-title {
  color: #694f5d;
}

.civilwars {
  display: flex;
  justify-content: center;
}

.amigurumi {
  display: flex;
  justify-content: center;
  height: 60vh;
}

.poke {
  display: flex;
  justify-content: center;
  height: 60vh;
}

.lastwish {
  display: flex;
  justify-content: center;
  height: 70vh;
}

.golden {
  display: flex;
  justify-content: center;
  height: 60vh;
}
