/* homepage background */
.main-background {
  background-image: url(/phillip-larking-dl0VYTREZ3g-unsplash.resized.jpg);
  height: 90vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #b6a6ca;
  border: 10px solid #d4bebe;
}

main .title-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

main h1 {
  margin: 0px;
  color: #eab5ae;
  font-size: 70px;
}

main h3 {
  color: #ffe5d4;
  font-size: 30px;
  margin: 0px;
}

/*homepage profile picture */
.profile {
  display: flex;
  justify-content: center;
}

.profile img {
  height: 225px;
  border-radius: 50%;
  
}


@media only screen and (max-width: 750px) {
  main h1 {
    font-size: 40px;
  }
  .icon {
    display: none;
  }
}
