main {
    background-image: url(../../phillip-larking-dl0VYTREZ3g-unsplash.jpg);
    height: 90vh;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 700px) {
    
}