nav {
    height: 10vh;
    background: #BFD3C1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: black;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    margin: 0px 5px;

}

.nav-links {
    margin-left: 20px;
}

.icon {
    display: flex;
    
    
}

