/* projects page formatting */
.projects-background {
    background-image: url(/bart-van-geffen-zr6HawGeAUc-unsplash.jpg);    
    height: 90vh;
    position: relative;
    opacity: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: bottom;
    
}

.projects-title{
    background-color: black;
    color: white;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    text-align: center;
}
.project1 {
    display: flex;
    justify-content: center;
    height: 30vh;
    justify-content: space-around;
}
.project2 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 30vh;
}

